<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amr.sunbula">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfirmEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchCauses_People"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListCategoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddCauseActivity"
            android:label="@string/title_activity_add_cause"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EditCauseActivity"
            android:label="@string/title_activity_edit_cause"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ShowDetailsUserActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity android:name=".CausesInOneCategoryActivity"></activity>
    </application>

</manifest>